header{background-color: #f9f9f9;}
.logo{width:20%}
.main_menu{width:60%}
.main_menu ul{margin: 0px; padding: 0px; list-style-type: none;display: flex;justify-content: space-between;}
.main_menu ul li{display:block; padding:0 10px;}
.main_menu ul li a{display: inline-block; text-decoration: none; font-size: 16px; color:#222; padding: 12px;}
.main_menu ul li a.nav_active{color:#c97f5f}
.head_account a svg{color:#222;margin: 0 0 0 13px;}
.header_row{display: flex;justify-content: space-between; padding:20px 0; flex-wrap: wrap;}
.head_account{width:20%;text-align: right; padding: 12px 0 0 0;}
.footer__bg { background-color:#fdfcf8;}
.footer__widget--desc { font-size: 14px;}
.footer__widget--info{ margin: 10px 0px 0px 0px; padding-left:0px;}

#carouselExampleControls button{ opacity: 1;}
#carouselExampleControls button span{width:40px; height:40px; background-size: 30px; background-color: #f39b40de;border-radius: 100%;}